*{
  margin: 0;
  padding: 0;
}

body {
  padding: 200px;

  background-image: url("./assets/images/bg-cover.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
